#unpas{
    width: auto;
    height: auto;
    text-align: center;
    
}
#container_graphe_unpas{
    width: 90%;
}
canvas {
   width: 100%;
  }

  h4 button{
    background: none;
    border-bottom: 4px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(67, 67, 63);
    padding: 15px;
    border-radius: 17px;
} 
h4 button:hover{
    color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255, 255, 255);
    background-color: black;
}