#plusieurpas{
    width: auto;
    height: auto;
    text-align: center;
    
}
#plusieurpas table{
    margin-top: 20px;
    width: 100%;
}
#plusieurpas th{
    border-radius: 7px;
    
}
.troisvue{
    background-color: rgb(169, 220, 239);
    color: rgb(0, 0, 0);
 
}
.nottroisvue{
    background-color: rgb(11, 1, 54);
    color: white;
 
}
.dixvue{
    background-color: rgb(169, 220, 239);
    color: rgb(0, 0, 0);
 
}
#plusieurpas th:hover{
    
    background-color: rgb(169, 220, 239);
    color: rgb(0, 0, 0);
}
.notdixvue{
    background-color: rgb(11, 1, 54);
    color: white;
 
}
.vingvue{
    background-color: rgb(169, 220, 239);
    color: rgb(0, 0, 0);
 
}
.notvingvue{
    background-color: rgb(11, 1, 54);
    color: white;
 
}